.data-set-container {
  max-width: 1500px;
  margin: 1rem auto;

  h3 {
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  button {
    background: blue;
    padding: 1rem;
    color: #ddd;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .filters {
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(191, 212, 224);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;

    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
        font-weight: 500;
    }
  }
  .dataSet-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;

    table {
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      tr:nth-child(odd) {
        background: rgb(207, 191, 191);
      }
      tr:nth-child(even) {
        background: rgb(180, 152, 152);
      }
      tr:nth-child(odd):hover {
        color: blue;
      }
      tr:nth-child(even):hover {
        color: greenyellow;
      }
    }
  }
}
