.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid pink;
    border-radius: 8px;
    text-decoration: underline wavy rgb(88, 29, 39);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: darkblue;
    transform: rotate(1deg);
}